.regular-top-app-bar{
    //background-color: $white;
    background-color: $primary;
    @include elevation(4);

    //color: $primary-text;
    color: white;
    height: 56px;

    display: flex;
    flex-direction: row;
    align-items: center;

    .app-bar-navigation-icon{
        font-size: 24px;
    }

    .app-bar-title{
        margin-left: 32px;
        font-size: 16px;
        font-weight: 500;
    }
}