$dark-primary: #4A1568;
$light-primary: #E2C3F4;
$primary: #641D8D;
$text: #FFFFFF;
$accent: #A78519;
$primary-text: #3B404A;
$secondary-text: #7A8499;
$divider: #B3B9C5;

$gray100: #D9DCE2;
$gray200: #B3B9C5;
$gray300: #A0A7B6;
$gray400: #8D96A8;
$gray500: #7A8499;
$gray600: #656D7F;
$gray700: #505764;
$gray800: #3B404A;
$gray900: #262930;