.content{
    //background-color: lighten($gray100, 10%);
    background-color: white;
}

.hero-section{
    background: linear-gradient(to right, $gray100, lighten($gray100, 7%));    
    margin: -30px;
    padding: 30px 15px 30px 15px;

    h5{
        color: $gray900;
    }
}

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
}