.nav-drawer{
    background-color: lighten($gray100, 10%);
    
    @include media-breakpoint-up(xl){
        border-color: $divider;
        border-style: solid;
        border-width: 0 1px 0 0;
    }

    &.nav-drawer-visible{
        @include elevation(16);
    }

    .nav-drawer-header{
        background-color: $dark-primary;
        background-image: url(/img/navdrawer-header-purple.png);
        color: $text;

        justify-content: flex-start;
        align-items: flex-start;
        padding: 16px;

        .app-title{
            text-align: left;
            font-size: 20px;
            font-weight: 300;

            .bold{
                font-weight: 700;
            }
        }
    }

    .nav-drawer-body{
        padding: 18px 8px 16px 8px;
    }
}