.app-bar{
    background: lightgray;
    display: block;
    min-height: 56px;
    padding: 16px;
    width: 100%;
    z-index: 30;

    @include media-breakpoint-up(xl){
        display: none !important;
    }
}