.navigation-drawer{
    background: lightgray;

    width: 256px;
    height: 100%;
    margin-left: -256px;
    min-width: 256px;
    padding: 16px;

    position: absolute;
    transition: .2s ease-in-out;

    z-index: 999;

    @include media-breakpoint-up(xl){
        margin-left: 0px;
        position: relative;
    }

    &.nav-drawer-visible{
        margin-left: 0px;
    }

    .navigation-drawer-header{
        display: flex;
        justify-content: center;

        padding: 24px 0 24px 0;
    }

    ul{
        padding: 0;
        
        li{
            list-style-type: none;
            margin: 0;
            padding: 12px 0 12px 0;
        }
    }
}