.scrim{
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .35);
    position: absolute;
    z-index: 50;

    @include media-breakpoint-up(xl){
        display: none;
    }

    &.nav-drawer-visible{
        display: block;
    }
}

.nav-drawer{
    background: lightgray;

    width: 256px;
    height: 100%;
    margin-left: -256px;
    min-width: 256px;

    position: absolute;
    transition: .2s ease-in-out;

    z-index: 90;

    @include media-breakpoint-up(xl){
        margin-left: 0px;
        position: relative;
    }

    &.nav-drawer-visible{
        margin-left: 0px;
    }

    .nav-drawer-header{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        height: 128px;
    }

    .nav-drawer-body{
        padding: 16px;

        ul{
            padding: 0;
            
            .list-item{
                list-style-type: none;
                margin: 12px 0 12px 0;

                &.active-link{
                    background-color: lightgray;
        
                    a{ color: darkslategray; }
                }
            }
        }
    }
}