.nav-drawer{
    background: lightgray;

    width: 256px;
    height: 100%;
    margin-left: -256px;
    min-width: 256px;

    position: absolute;
    transition: .2s ease-in-out;

    z-index: 999;

    @include media-breakpoint-up(xl){
        margin-left: 0px;
        position: relative;
    }

    &.nav-drawer-visible{
        margin-left: 0px;
    }

    .nav-drawer-header{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        height: 128px;
    }

    .nav-drawer-body{
        padding: 16px;

        ul{
            padding: 0;
            
            li{
                list-style-type: none;
                margin: 12px 0 12px 0;
            }
        }
    }
}